// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #B28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

// heading exetnsion
%heading {
    font-family: $font-display;
    font-weight: 400;
}
// Responsive Breakpoint
$bp-largest: 75em;
$bp-large: 62.5em;
$bp-medium: 50em;
$bp-small: 37.5em;
// MAP FOR MARGIN-BOTTOM
$mb: (
    sm: 2rem,
    md: 3rem,
    lg: 4rem,
    xl: 8rem,
    hg: 15rem,
);

@function mbsizes ($mbsize) {
    @return map-get($mb, $mbsize);
}